body {
    background-image: url(/img/backst.png);
    background-repeat: no-repeat;
    background-size: 1441px 811px;
    margin: 0px;
    padding: 0px; 
    font-family: 'poppins';
    
}
.header {
    display: flex; 
    width: 1111px;
    height: 43px; 
    margin: 24px 166px 121px 164px;
}
/* .header__logo-container {
}  */

.header__logo-image {
    width: 55px;
    height: 35px;
}
.header__webovio-text {
    width: 190px;
    height: 33px;
}
.header__circle {
    width: 40px;
    height: 40px;
    margin-left: 815px; 
}
.main-section {
    color: #FFFFFF ;
    width: 616px;
    height: 412px;
    margin: 121px 659px 211px 166px;
}
.main-section__intro {
    width: 100px;
    height: 21px;
    margin-bottom: 22px; 
}

.main-section__title {
    color: #FFFFFF ;
    margin: 0px;
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 74px;

}

.main-section__description {
    color: #FFFFFF ;
    margin: 0;
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 26px;
}

.main-section__link {
    color: #FFD723;
    width: 114px ;
    height: 24px;
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
}

.services-section {
    width: 1110px;
    height: 611px;
	padding: 150px 164px 154px 166px;
} 

.services-section__title { 
    margin: 0;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.services-section__list-items {
    list-style-type: none;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr)
}
/* .services-section__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
}  */

.services-section__item-title {
    margin: 0;
	margin-bottom: 20px;
	max-width: 183px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;
}

.services-descr {
    margin: 0;
	margin-bottom: 56px;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
    color: #213842;
} 

.services-section__item-link {
    margin-bottom: 0;
	margin-top: auto;
    color: #D4D6D4; 
}